<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Estudantes</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
					integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"	crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
					integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${estudantes}" class="container my-5">
					<p class="my-5">
						<a href="/estudantes/criar" class="btn btn-primary"><i class="fas fa-user-plus ml-2"> Adicionar Estudante</i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">Nenhum estudante cadastrado</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Email</th>
										<th>Telefone</th>
										<th>Matricula</th>
										<th>Curso</th>
										<th>Editar</th>
										<th>Apagar</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="estudante : ${estudantes}">
										<td th:text="${estudante.nome}"></td>
										<td th:text="${estudante.email}"></td>
										<td th:text="${estudante.telefone}"></td>
										<td th:text="${estudante.matricula}"></td>
										<td th:text="${estudante.curso}"></td>
										<td><a th:href="@{/estudantes/editar/{id}(id=${estudante.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
										<td><a th:href="@{/estudantes/apagar/{id}(id=${estudante.id})}" class="btn btn btn-danger"><i class="fas fa-user-times ml-2"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>